.btn {
    padding:6px 12px;
    background-color: coral;
    border-radius: 6px;
    text-decoration: none;
    opacity: 0.8;
    box-shadow: 0px 5px chocolate;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    position: relative;
    top:5px
}

.kao {
    width: 500px;
}

.main input{
    display: none;
}

.main .koutarou{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
}

.main input:checked ~ .koutarou{
    
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
